#flex{
    max-width: 100%;
    display: block;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerbotoes button{
    background-color: #419488;
    width: 289px;
    height: 51px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin: 14px 41px 14px 41px;
    border-radius: 65px;
    border-color: #FFFFFF;
    color: #FFFFFF;
}